* {
    box-sizing: border-box;
}

header {
    padding: 15px;
    border-bottom: solid 2px black;
}

h1 {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.game-grid {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 12px;
    max-width: 295px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 5px;
}

.letter-box {
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 3px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.correct {
    background-color: darkgreen;
    color: white;
}

.close {
    background-color: goldenrod;
    color: white;
}

.wrong {
    background-color: #888;
    color: white;
}

.invalid {
    animation: flash 1s;
}

@keyframes flash {
    5% {
        border-color: crimson;
    }

    100% {
        border-color: #ccc;
    }
}

.spiral {
    font-size: 40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    visibility: hidden;
}

.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}